<div>
  <form [formGroup]="registerForm" (ngSubmit)="login()">
    <div>
      <input
        id="username"
        formControlName="username"
        type="text"
        autocomplete="off"
        tabindex="1"
        placeholder="E-Mail Adresse">
    </div>

    <div>
      <input
        id="password"
        formControlName="password"
        type="password"
        autocomplete="off"
        tabindex="1"
        placeholder="E-Mail Adresse">
    </div>

    <button type="submit">Login</button>
  </form>
</div>
